LOCATE COMP "clkin" SITE "A10";
IOBUF PORT "clkin" IO_TYPE=LVCMOS33;

LOCATE COMP "led[0]" SITE "B17";
LOCATE COMP "led[1]" SITE "A17";
LOCATE COMP "led[2]" SITE "C17";
LOCATE COMP "led[3]" SITE "B18";
LOCATE COMP "led[4]" SITE "A18";
LOCATE COMP "led[5]" SITE "B19";
LOCATE COMP "led[6]" SITE "A12";
LOCATE COMP "led[7]" SITE "A13";

IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[7]" IO_TYPE=LVCMOS33;

# button SW2
LOCATE COMP "btn_clk" SITE "G2";
IOBUF PORT "btn_clk" IO_TYPE=LVCMOS33;

LOCATE COMP "uart_tx" SITE "P3";
LOCATE COMP "uart_rx" SITE "P2";

IOBUF PORT "uart_tx" IO_TYPE=LVCMOS33;
IOBUF PORT "uart_rx" IO_TYPE=LVCMOS33;

LOCATE COMP "clkout" SITE "A19";
IOBUF PORT "clkout" IO_TYPE=LVCMOS25;

# SPI Display Controller (Versa J39 Header)
LOCATE COMP "spi_sclk"    SITE "D15";  # J39 Pin 4
LOCATE COMP "spi_mosi"    SITE "B15";  # J39 Pin 5
LOCATE COMP "spi_dc"      SITE "C15";  # J39 Pin 6
LOCATE COMP "spi_cs_n"    SITE "B13";  # J39 Pin 7
LOCATE COMP "spi_reset_n" SITE "B20";  # J39 Pin 8

IOBUF PORT "spi_sclk"    IO_TYPE=LVCMOS33;
IOBUF PORT "spi_mosi"    IO_TYPE=LVCMOS33;
IOBUF PORT "spi_dc"      IO_TYPE=LVCMOS33;
IOBUF PORT "spi_cs_n"    IO_TYPE=LVCMOS33;
IOBUF PORT "spi_reset_n" IO_TYPE=LVCMOS33;

